<section id="header">
<header class="header-custom" id="headerAU">
    <div class="header_ribbon">
        <div class="header_ribbon_row">
            <div class="header_ribbon_cell">
                <div class="header_ribbon_inner">
                    <a class="header_au_logo_link" href="https://www.adelphi.edu">
                        <span class="header_au_logo_link_label">Adelphi University</span>
                        <div class="header_au_logo"></div>
                        <div class="header_au_mark"></div>
                    </a>
                    <div id="smallHome" class="utility_nav_item_inner" style="width:100%">
                        <a class="utility_nav_link" href="https://adelphi.edu/libraries" itemprop="url">
                            <span class="utility_nav_link_label " itemprop="name">Libraries Home</span>
                        </a>
                    </div>
                    <nav class="utility_nav_header">
                        <ul class="utility_nav_list" aria-label="Utility Navigation">
                            <li id="bigHome" class="utility_nav_item">
                                <div class="utility_nav_item_inner">
                                    <a class="utility_nav_link" href="https://adelphi.edu/libraries" itemprop="url">
                                        <span style="white-space: nowrap;" class="utility_nav_link_label "
                                            itemprop="name">Adelphi Libraries Home</span>
                                    </a>
                                </div>
                            </li>
                            <li class="utility_nav_item">
                                <div class="utility_nav_item_inner">
                                    <a class="utility_nav_link" href="https://askalibrarian.adelphi.edu/"
                                        target="_blank" itemprop="url">
                                        <span class="utility_nav_link_label " itemprop="name">Ask a Librarian</span>
                                    </a>
                                </div>
                            </li>
                            <li class="utility_nav_item">
                                <div class="utility_nav_item_inner">
                                    <a class="utility_nav_link"
                                        href="https://onesearch.adelphi.edu/discovery/account?vid=01ADELPHI_INST:01ADELPHI_INST&section=overview&lang=en"
                                        target="_blank" itemprop="url">
                                        <span class="utility_nav_link_label " itemprop="name">My Library Account</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
</section>
