<div class="row" id="s-lib-public-header">
  <div class="col-sm-12" id="s-lib-public-header-info">
    <h1>Adelphi University Archives & Special Collections</h1>
    <div>
      <b>About Our Collection</b>
      <p>Covering a wide variety of subjects, University Archives &amp; Special Collections include rare books, manuscripts, photographs, newspapers, pamphlets, architectural drawings, and other primary and secondary sources spanning 16th century to the present day. Areas of particular strength include the Spanish Civil War, Panama Canal history, dance and performing arts, the American antislavery movement, modernist American literature, children's illustrated literature and the social, political and cultural history of Long Island as well as documenting the history of Adelphi University.</p>
      <p>Among the notable special collections at Adelphi are those on the political journalist William Cobbett (1763-1835); the radical writer, reformer, and satirist William Hone (1780-1842); the pioneering dancer and choreographer Ruth St. Denis (1879-1968); novelist Alice Hoffman; and New York Lieutenant Governor and first Adelphi Board of Trustees president Timothy L. Woodruff (1858-1913).</p>
      <b>Guide to Searching Archives</b>
      <p>Our finding aids act as inventories that describe and list the contents of collections and contain information about the person, family, or organization that created the collection. Through this site, you can search and browse these finding aids for our many collections available for research.</p>
      <p>To find rare books, search the <a href="https://onesearch.adelphi.edu/">Library's catalog</a>.<br></p>
      <p>To find digitized items, search <a href="https://uascdigital.adelphi.edu/">Digital Collections</a>.<br></p>
      <p>Contact us at <a href="mailto:uasc@adelphi.edu">uasc@adelphi.edu</a> or (516) 877-3588 to schedule an appointment, or for questions about our collections.</p>
    </div>
  </div>
</div>

    <%= render partial: 'shared/search', locals: {
      :search_url => "/search",
      :title => t('archive._plural'),
      :limit_options => [
            ["#{t('actions.search')} #{t('search-limits.all')}",''],
            [t('search-limit', :limit => t('search-limits.resources')),'resource'],
            [t('search-limit', :limit => t('search-limits.digital')),'digital_object']
          ],
      :field_options => [
            ["#{t('search_results.filter.fullrecord')}",''],
            ["#{t('search_results.filter.title')}",'title'],
            ["#{t('search_results.filter.creators')}",'creators_text'],
            ["#{t('search_results.filter.subjects')}",'subjects_text'],
            ["#{t('search_results.filter.notes')}", 'notes'],
            ["#{t('search_results.filter.identifier')}", 'identifier']
           ]
    } %>

    <% ASUtils.find_local_directories('public/views/_welcome_addition.html.erb').each do |template| %>
        <%= render(:file => template) if File.exists?(template) %>
    <% end %>
