<div class="row" id="s-lib-public-header">
  <div class="col-sm-12" id="s-lib-public-header-info">
    <h1>Adelphi University Archives & Special Collections: Finding Aids</h1>
  </div>
</div>

    <%= render partial: 'shared/search', locals: {
      :search_url => "/search",
      :title => t('archive._plural'),
      :limit_options => [
            ["#{t('actions.search')} #{t('search-limits.all')}",''],
            [t('search-limit', :limit => t('search-limits.resources')),'resource'],
            [t('search-limit', :limit => t('search-limits.digital')),'digital_object']
          ],
      :field_options => [
            ["#{t('search_results.filter.fullrecord')}",''],
            ["#{t('search_results.filter.title')}",'title'],
            ["#{t('search_results.filter.creators')}",'creators_text'],
            ["#{t('search_results.filter.subjects')}",'subjects_text'],
            ["#{t('search_results.filter.notes')}", 'notes'],
            ["#{t('search_results.filter.identifier')}", 'identifier']
           ]
    } %>

    <div class="row" id="au-public-welcome-addition">
  <div class="col-sm-12" id="au-public-welcome-addition-info">
    <div>
      <b>Finding aids</b>
      <p>Finding aids are descriptive tools used to describe manuscript collections and archival records. They provide information about the creator, scope and content of a collection and a detailed container list to help researchers identify and locate material within a collection.</p>
      <p>Using our finding aid database, you can search the finding aids for our manuscript and archival collections.</p>
      <b>Search tips</b>
      <ul>
        <li>Click the + button to add further search terms.</li>
        <li>Searches are not case sensitive.</li>
        <li>Use double quotes to search for an exact phrase (e.g. “Broadway theater” or “House of Representatives”).</li>
        <li>Use the collections tab located in the bar at the top of the page to see a full list of our special collections.</li>
      </ul>
      <p>To find rare books, search the <a href="https://onesearch.adelphi.edu/">Library's catalog</a>.<br></p>
      <p>To find digital items, search <a href="https://uascdigital.adelphi.edu/">Digital Collections</a>.<br></p>
      <p>To find artwork, search <a href="https://uascdigital.adelphi.edu/records/default?search=&sort=Date,_score&perpage=10&page=1&&page=1&refine%5bCategories%5d%5b%5d=Adelphi+University+Art+Collection">Art Collection</a>.<br></p>
      <p>To request materials, visit the Adelphi University Archives and Special Collections Reading Room during open hours, or contact us at <a href="mailto:uasc@adelphi.edu">uasc@adelphi.edu</a> or <a href="tel:5168773588">(516) 877-3588</a> to schedule an appointment.</p>    </div>
  </div>
</div>
